.input {
  width: 100%;
  max-width: 40rem;
}

.input label {
  display: block;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 40px;
  color: #4e3517;
  font-family: jua;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  height: 50px;
  border: 2px solid grey;
  padding: 0.15rem;
  border-radius: 10px;
}

.input input:focus {
  outline: none;
  border-color: #bee7d7;
}

.input form {
  background-color: white;
  border-radius: 70px 70px 0px 0px;
  height: 610px;
  padding: 35px;
  justify-content: center;
}

.input Button {
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 100px;
  width: 200px;
  height: 60px;
}
.input h2 {
  padding: 30px;
}
