.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}

.header {
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: #765227;
  text-align: center;
}

.content {
  padding: 1rem;
}

.content p{
  text-align: center;
  font-weight: bolder;
}
.content img{
  width: 275px;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.button{
  width: 100px;
}
.actions Button{
  margin-right: 42px;
  background-color: #BEE7D7;
  border-radius: 50px;
  width: 50px;
  margin-right:0px;
}

